/*  css basic setting */
::-webkit-scrollbar {
/*隱藏滾輪*/
display: none;
}
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
/* page css style */
body {
  background: url('https://upload.cc/i1/2021/01/27/4p8fJs.jpg');
  /* Photo on <a href="https://visualhunt.com/re8/60fb192e">Visualhunt.com</a> */
}
.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-top: 50px;
  height: 680px;
  font-family: 'Noto Sans TC', sans-serif !important;
}
.stoke-head {
  height: 60px;
}
.stoke-head h2{
  margin:auto 20px;
}
.stoke-head .reload-btn {
  margin: 0;
}
.card-list{
  height: 600px;
  overflow: scroll;
}
/* card css style */
.stoke-card .card-body{
  padding: 5px;
}
.stoke-card .card-title{
  margin: 0;
}
.stoke-card .card-title p{
  margin: 0;
}
.stoke-card .card-text p{
  margin: 0;
}
.stoke-card .card-footer{
  padding: 5px;
}
.stoke-card .card-footer p{
  margin: 0;
}
/* pannel css style */
.stoke-total {
  background: white;
  border-radius: 3px;
}
.stoke-total h3{
  margin: 5px 0;
}